.todo {
    background:
    radial-gradient(1200px 900px at 20% 25%, #ebe6f5 0%, transparent 60%),
    radial-gradient(1200px 900px at 80% 35%, #f6eee4 0%, transparent 60%),
    radial-gradient(1200px 900px at 50% 85%, #e6eef6 0%, transparent 60%),
    linear-gradient(#f6f3f9, #fbfaf8);
    background-attachment: fixed;
    margin: 70.8px 0 0 0;
    padding: 24px calc(50% - 1024px / 2);
}

.todo__title {
    font-size: 22px;
    font-weight: 600;
    margin: 28px 0 20px
}

.todo__container {
    display: flex;
    flex-direction: column;
    gap: 12px 0;
}

.todo__input {
    width: 100%;
    padding: 12px 20px;
    font-size: 14px;
    outline: 1px rgba(30, 10, 60, 0.12);
    border-radius: 8px;
    background-color: #ffffff
}

.todo__input ::placeholder {
    background-color: #9b96a6;
}

.todo__add {
    padding: 12px 40px;
    border-radius: 8px;
    font-size: 14px;
    font-weight: 600;
    outline: 1px rgba(30, 10, 60, 0.12);
    color: #ffffff;
    background-color: #7e66cd;
    cursor: pointer;
}

.todo__newtask {
    display: flex;
    justify-content: space-between;
    gap: 12px;
}

.todo__tasksearch {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 12px;
    width: 100%;
}

.todo__filters {
    display: flex;
    gap: 12px;
}
.todo__filter {
    padding: 10px 28px 10px 10px;
  font-size: 14px;
  border: 1px solid rgba(30, 10, 60, 0.12);
  border-radius: 8px;
  background: #fff;
  font-weight: 500;
  color: #5e5472;
}

.task {
    display: flex;
    justify-content: space-between;
    background-color: white;
}


