.todo {
  margin: 70.8px 0 0 0;
  padding: 24px calc(50% - 1024px / 2);
}

.todo__title {
  font-size: 22px;
  font-weight: 600;
  margin: 28px 0 20px;
}

.todo__container {
  display: flex;
  flex-direction: column;
  gap: 15px 0;
}
